/* RIGHT: peripheral via BLE */
&split {
    compatible = "zmk,split-bluetooth";
    status = "okay";
    role = "peripheral";
};

/* Desabilita o split-serial herdado do shield base */
&split_serial {
    status = "disabled";
};